<br><br><br><br>

<div *ngIf="favorites_list.length>0">
  <p style="text-align: center;color: mediumaquamarine;font-size: 23px;"><b>List of your favorite events</b></p>
</div>
<div *ngIf="favorites_list.length>0">
<div class="col-md-8 container rounded">
    <table class="table table-hover table-striped table-light tableround"  style="text-align: center;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Category</th>
            <th scope="col">Venue</th>
            <th scope="col">Favorite</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of favorites_list;let i=index" >
            <td><b>{{i+1}}</b></td>
            <td>{{item['date']}}</td>
            <td >{{item.event_title}}</td>
            <td >{{item.category}}</td>
            <td >{{item.venue}}</td>
            <td (click)="deleteFavorite(i,item)" style="cursor: pointer;"><i class="bi bi-trash"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6 container rounded mt-5">
  <h5 style="text-align: center;background-color: white;color: red;border-radius: 20px;" *ngIf="favorites_list.length===0">No favorite events to show</h5>
  </div>